<% layout('../layout/templates/seller/boilerplate') -%>
<form action="/seller/profile/update" method="post">
<input type="text" class="form-control" name="seller[imageUrl]">
<button class="btn btn-primary">Update</button>
</form>