<% layout('../layout/templates/seller/boilerplate') -%>


<div class="container col-6 offset-3">
    <!-- Material -->
<div class="form-group">
    <label for="material">Material</label>
    <input type="text" class="form-control" id="material" name="material" placeholder="Enter material">
</div>

<!-- Color -->
<div class="form-group">
    <label for="color">Color</label>
    <input type="text" class="form-control" id="color" name="color" placeholder="Enter color">
</div>

<!-- Size -->
<div class="form-group">
    <label for="size">Size</label>
    <input type="text" class="form-control" id="size" name="size" placeholder="Enter size">
</div>

<!-- Thread Count -->
<div class="form-group">
    <label for="threadCount">Thread Count</label>
    <input type="number" class="form-control" id="threadCount" name="threadCount" placeholder="Enter thread count">
</div>

<!-- Brand -->
<div class="form-group">
    <label for="brand">Brand</label>
    <input type="text" class="form-control" id="brand" name="brand" placeholder="Enter brand">
</div>

<button type="submit" class="btn btn-primary">Submit</button>

</div>