<% layout('../layout/templates/seller/boilerplate') -%>
<div class="container col-6 offset-3">
    <!-- Capacity -->
<div class="form-group">
    <label for="capacity">Capacity</label>
    <input type="number" class="form-control" id="capacity" name="capacity" placeholder="Enter capacity">
</div>

<!-- Type -->
<div class="form-group">
    <label for="type">Type</label>
    <input type="text" class="form-control" id="type" name="type" placeholder="Enter type">
</div>

<!-- Material -->
<div class="form-group">
    <label for="material">Material</label>
    <input type="text" class="form-control" id="material" name="material" placeholder="Enter material">
</div>

<!-- Color -->
<div class="form-group">
    <label for="color">Color</label>
    <input type="text" class="form-control" id="color" name="color" placeholder="Enter color">
</div>

<!-- Weight -->
<div class="form-group">
    <label for="weight">Weight</label>
    <input type="number" class="form-control" id="weight" name="weight" placeholder="Enter weight">
</div>

<!-- Size -->
<h5>Size</h5>
<div class="form-group">
    <label for="sizeType">Size Type</label>
    <input type="text" class="form-control" id="sizeType" name="size[type]" placeholder="Enter size type">
</div>
<div class="form-group">
    <label for="sizeWidth">Width</label>
    <input type="number" class="form-control" id="sizeWidth" name="size[or][width]" placeholder="Enter width (if applicable)">
</div>
<div class="form-group">
    <label for="sizeHeight">Height</label>
    <input type="number" class="form-control" id="sizeHeight" name="size[or][height]" placeholder="Enter height (if applicable)">
</div>
<div class="form-group">
    <label for="sizeLength">Length</label>
    <input type="number" class="form-control" id="sizeLength" name="size[or][length]" placeholder="Enter length (if applicable)">
</div>

<!-- Features -->
<div class="form-group">
    <label for="features">Features</label>
    <input type="text" class="form-control" id="features" name="features" placeholder="Enter features (comma-separated)">
</div>

<!-- Packed Size -->
<h5>Packed Size</h5>
<div class="form-group">
    <label for="packedSizeType">Size Type</label>
    <input type="text" class="form-control" id="packedSizeType" name="packedSize[type]" placeholder="Enter packed size type">
</div>
<div class="form-group">
    <label for="packedSizeWidth">Width</label>
    <input type="number" class="form-control" id="packedSizeWidth" name="packedSize[or][width]" placeholder="Enter width (if applicable)">
</div>
<div class="form-group">
    <label for="packedSizeHeight">Height</label>
    <input type="number" class="form-control" id="packedSizeHeight" name="packedSize[or][height]" placeholder="Enter height (if applicable)">
</div>
<div class="form-group">
    <label for="packedSizeLength">Length</label>
    <input type="number" class="form-control" id="packedSizeLength" name="packedSize[or][length]" placeholder="Enter length (if applicable)">
</div>

<!-- Seasons -->
<div class="form-group">
    <label for="seasons">Seasons</label>
    <input type="text" class="form-control" id="seasons" name="seasons" placeholder="Enter seasons">
</div>

<!-- Brand -->
<div class="form-group">
    <label for="brand">Brand</label>
    <input type="text" class="form-control" id="brand" name="brand" placeholder="Enter brand">
</div>

<button type="submit" class="btn btn-primary">Submit</button>

</div>