<% layout('../layout/templates/seller/boilerplate') -%>
<div class="container col-6 offset-3">
    <!-- Hair Type -->
<div class="form-group">
    <label for="hairType">Hair Type</label>
    <input type="text" class="form-control" id="hairType" name="hairType" placeholder="Enter hair type">
</div>

<!-- Type -->
<div class="form-group">
    <label for="type">Type</label>
    <input type="text" class="form-control" id="type" name="type" placeholder="Enter haircare product type">
</div>

<!-- Brand -->
<div class="form-group">
    <label for="brand">Brand</label>
    <input type="text" class="form-control" id="brand" name="brand" placeholder="Enter brand">
</div>

<button type="submit" class="btn btn-primary">Submit</button>

</div>