<% layout('../layout/templates/seller/boilerplate') -%>
<div class="container col-6 offset-3">
    <!-- Material -->
<div class="form-group">
    <label for="material">Material</label>
    <input type="text" class="form-control" id="material" name="material" placeholder="Enter material">
</div>

<!-- Color -->
<div class="form-group">
    <label for="color">Color</label>
    <input type="text" class="form-control" id="color" name="color" placeholder="Enter color">
</div>

<!-- Capacity -->
<div class="form-group">
    <label for="capacity">Capacity</label>
    <input type="text" class="form-control" id="capacity" name="capacity" placeholder="Enter capacity">
</div>

<!-- Wattage -->
<div class="form-group">
    <label for="wattage">Wattage</label>
    <input type="number" class="form-control" id="wattage" name="wattage" placeholder="Enter wattage">
</div>

<!-- Size -->
<h5>Size</h5>
<div class="form-group">
    <label for="sizeType">Size Type</label>
    <input type="text" class="form-control" id="sizeType" name="size[type]" placeholder="Enter size type">
</div>
<div class="form-group">
    <label for="sizeWidth">Width</label>
    <input type="number" class="form-control" id="sizeWidth" name="size[or][width]" placeholder="Enter width (if applicable)">
</div>
<div class="form-group">
    <label for="sizeHeight">Height</label>
    <input type="number" class="form-control" id="sizeHeight" name="size[or][height]" placeholder="Enter height (if applicable)">
</div>
<div class="form-group">
    <label for="sizeLength">Length</label>
    <input type="number" class="form-control" id="sizeLength" name="size[or][length]" placeholder="Enter length (if applicable)">
</div>

<!-- Brand -->
<div class="form-group">
    <label for="brand">Brand</label>
    <input type="text" class="form-control" id="brand" name="brand" placeholder="Enter brand">
</div>

<button type="submit" class="btn btn-primary">Submit</button>

</div>
