<% layout('../layout/templates/seller/boilerplate') -%>
<div class="container col-6 offset-3">
    <!-- Perfume Type -->
<div class="form-group">
    <label for="perfumeType">Perfume Type</label>
    <input type="text" class="form-control" id="perfumeType" name="perfumeType" placeholder="Enter perfume type">
</div>

<!-- Size -->
<div class="form-group">
    <label for="size">Size</label>
    <input type="text" class="form-control" id="size" name="size" placeholder="Enter size">
</div>

<!-- Brand -->
<div class="form-group">
    <label for="brand">Brand</label>
    <input type="text" class="form-control" id="brand" name="brand" placeholder="Enter brand">
</div>

<button type="submit" class="btn btn-primary">Submit</button>

</div>
