<% layout('../layout/templates/seller/boilerplate') -%>
<div class="container col-6 offset-3">
    <!-- Type -->
<div class="form-group">
    <label for="type">Type</label>
    <input type="text" class="form-control" id="type" name="type" placeholder="Enter pet food type">
</div>

<!-- Pet Age -->
<div class="form-group">
    <label for="petAge">Pet Age</label>
    <input type="text" class="form-control" id="petAge" name="petAge" placeholder="Enter pet age">
</div>

<!-- Pet Breed Size -->
<div class="form-group">
    <label for="petBreedSize">Pet Breed Size</label>
    <input type="text" class="form-control" id="petBreedSize" name="petBreedSize" placeholder="Enter pet breed size">
</div>

<!-- Dietary Needs -->
<div class="form-group">
    <label for="dietaryNeeds">Dietary Needs</label>
    <input type="text" class="form-control" id="dietaryNeeds" name="dietaryNeeds" placeholder="Enter dietary needs">
</div>

<!-- Weight -->
<div class="form-group">
    <label for="weight">Weight</label>
    <input type="number" class="form-control" id="weight" name="weight" placeholder="Enter weight">
</div>

<!-- Brand -->
<div class="form-group">
    <label for="brand">Brand</label>
    <input type="text" class="form-control" id="brand" name="brand" placeholder="Enter brand">
</div>

<button type="submit" class="btn btn-primary">Submit</button>

</div>
