<% layout('../layout/templates/seller/boilerplate') -%>
<div class="container-col-6 offset-3">
    <!-- Fit -->
<div class="form-group">
    <label for="fit">Fit</label>
    <input type="text" class="form-control" id="fit" name="fit" placeholder="Enter fit">
</div>

<!-- Size -->
<h5>Size</h5>
<div class="form-group">
    <label for="sizeTypeString">Size Type (String)</label>
    <input type="text" class="form-control" id="sizeTypeString" name="size[type][string]" placeholder="Enter size type (string)">
</div>
<div class="form-group">
    <label for="sizeTypeNumerical">Size Type (Numerical)</label>
    <input type="number" class="form-control" id="sizeTypeNumerical" name="size[type][numerical]" placeholder="Enter size type (numerical)">
</div>
<div class="form-group">
    <label for="bust">Bust</label>
    <input type="number" class="form-control" id="bust" name="size[bust]" placeholder="Enter bust size">
</div>
<div class="form-group">
    <label for="waist">Waist</label>
    <input type="number" class="form-control" id="waist" name="size[waist]" placeholder="Enter waist size">
</div>
<div class="form-group">
    <label for="hips">Hips</label>
    <input type="number" class="form-control" id="hips" name="size[hips]" placeholder="Enter hips size">
</div>
<div class="form-group">
    <label for="length">Length</label>
    <input type="number" class="form-control" id="length" name="size[length]" placeholder="Enter length">
</div>

<!-- Material -->
<div class="form-group">
    <label for="material">Material</label>
    <input type="text" class="form-control" id="material" name="material" placeholder="Enter material">
</div>

<!-- Color -->
<div class="form-group">
    <label for="color">Color</label>
    <input type="text" class="form-control" id="color" name="color" placeholder="Enter color">
</div>

<!-- Sleeve Length -->
<div class="form-group">
    <label for="sleeveLength">Sleeve Length</label>
    <input type="text" class="form-control" id="sleeveLength" name="sleeveLength" placeholder="Enter sleeve length">
</div>

<!-- Occasion -->
<div class="form-group">
    <label for="occasion">Occasion</label>
    <input type="text" class="form-control" id="occasion" name="occasion" placeholder="Enter occasion">
</div>

<!-- Closure -->
<div class="form-group">
    <label for="closure">Closure</label>
    <input type="text" class="form-control" id="closure" name="closure" placeholder="Enter closure type">
</div>

<!-- Wash Care -->
<div class="form-group">
    <label for="washCare">Wash Care</label>
    <input type="text" class="form-control" id="washCare" name="washCare" placeholder="Enter wash care instructions">
</div>

<!-- Style -->
<div class="form-group">
    <label for="style">Style</label>
    <input type="text" class="form-control" id="style" name="style" placeholder="Enter style">
</div>

<!-- Brand -->
<div class="form-group">
    <label for="brand">Brand</label>
    <input type="text" class="form-control" id="brand" name="brand" placeholder="Enter brand">
</div>

<button type="submit" class="btn btn-primary">Submit</button>

</div>