<% layout('../layout/boilerplate') %>

<br><br><br>
<div class="container">
    <center>
        ARE YOU A CUSTOMER?
   <br>
        <br>
        <a href="/customer/auth/register" class="btn btn-outline-success btn-sm">Click here!</a>
   </center>
</div> <br>
<div class="container">
    <center>
        ARE YOU A SELLER?
   <br>
        <br>
        <a href="/seller/auth/register" class="btn btn-outline-success btn-sm">Click here!</a>
   </center>
</div>