<div class="footer fixed-bottom d-flex justify-content-between"  style="background-color: rgba(255, 255, 255, 0.50);   -webkit-backdrop-filter: blur(8px);
backdrop-filter: blur(8px); height: fit-content; display: flex; justify-content: center; align-items: center;">

    <a href="/customer/products?page=1" class="btn" style="background-color: rgba(255, 255, 255, 0.0); border: 0px;" ><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="black" class="bi bi-house" viewBox="0 0 16 16">
        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
      </svg></a>
<% if(customer) {%>
    <form action="/customer/<%= currentUser._id %>/cart">
      <button type="submit" class="btn position-relative"
        style="background-color: rgba(255, 255, 255, 0.0); border: 0px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
          class="bi bi-bag-check-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0m-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z" />
        </svg>
        <span class="position-absolute top-75 start-100 translate-middle badge rounded-pill bg-danger">
          <%= currentUser.cart.length %>
        </span>

      </button>
    </form>
<div class=" my-1 d-flex flex-column justify-content-center align-items-center">
    <a href="/customer/profile/<%= currentUser._id %>/view"> <img src="<%= currentUser.profilePic %>"
        width="45px" height="45px" style="border-radius: 100%; object-fit: cover;" class="me-3" class="m-1" alt=""></a>
  </div>
  <% } %>

</div>